---
layout: pageTemplate
---

  <div class="posts">
    <article>
      <div class="post">
        <h2> A propos de moi </h2>
        <p> Passionné de web depuis maintenant plus de 5 ans, je me suis spécialisé dans le développement front-end en Javascript. </p>
        <p> J'aime également beaucoup l'accompagnement de projet digital en conseillant des clients ayant un projet intéressant à développer leur présence numérique grâce à des solutions sur-mesure adaptées à leurs besoins </p>
        <p> Egalement fondateur de <a href="http://www.lilleweb.fr"> Lille Web </a>, je m'investi énormément dans la communauté du web lillois en proposant au plus grand nombre une bibliothèque de ressources web, en proposant des articles traitant de sujet web divers (développement JS, PHP, design, astuces, tutos, news, ect) et en filmant les conférences où l'on se rend et en les proposant sur <a href="https://www.youtube.com/channel/UC7OVjzAqpBYqo5-pFC8At7g">notre chaînes Youtube</a>.</p>
        <p> Je donne également des conférences, voici mes dernières : </p>
        <ul>
            {% for redaction in site.data.redactions.conferences %}
              <li><a href="{{redaction[1].link}}">{{redaction[1].name}}</a></li>
            {% endfor %}
        </ul>

        <h2> Compétences & Expériences </h2>
        <p> Si vous souhaitez connaître en détails mes compétences et mes différentes expériences professionnelles, rendez-vous sur <a href="">ma page Linkedin </a>

        <h2> Retrouvez-moi </h2>
        <p> N'hésitez pas à me retrouver sur les réseaux sociaux : </p>
        {% include socialNetwork.html %}

      </div>
    </article>
  </div>
