<header>
  <nav>
    <div class="fixedLeft"><h2> <a href="/">Johnathan MEUNIER <img src="/src/img/logo/johnathan_meunier_small_white.png" alt=""></a></h2></div>
    <div class="fixedRight">
      <ul class="inlineUl">
        {% for el in site.data.nav %}
          <li><a href="{{ el[1].link }}">{{el[1].display}}</a></li>
        {% endfor %}
      </ul>
    </div>
  </nav>
  <div class="mainContent">
    <h1> Je suis
      <span class="typeWriter">
<!--         <span class="typeWriterEl"> développeur web </span>
        <span class="typeWriterEl"> développeur front-end </span>
        <span class="typeWriterEl"> passionné</span> -->
        <span class="typeWriterEl"> Johnathan MEUNIER </span>
      </span>
    </h1>
    {% include socialNetwork.html %}
  </div>
</header>