h2{
  margin: 30px 0px;
}
h4{
  text-align: center;
}

footer{
  margin-top: 0px;
}

.realisation{
  .image{
    display: inline-block;
    vertical-align: top;
    img{
      width: 400px;
    }
  }
  .text{
    display: inline-block;
    vertical-align: top;
    width: 55%;
    margin-left: 4%;
  }
}

ul.pagination{
  text-align: center;
  margin: 40px 0px;
  li{
    display: inline-block;
    a{
      background-color:#F7F7F7;
      padding: 20px;
      font-family: RobotoLight;
    }
    &.active, &:hover{
      a{
        background-color:#eee;
      }
    }
  }
}

.posts .socialNetwork{
  margin : 0px;
  i{
    margin-left: 0px;
  }
}