---
layout: pageTemplate
title : Johnathan MEUNIER - blog
---

  <div class="posts">
    {% for post in paginator.posts %}
      <article>
        <div class="post">
          <h2 class="post_title">{{ post.title }}</h2>
          <h4 class="post_date">{{ post.date | date_to_string }}</h4>
          <div class="shareTwitter">

             <a href="https://twitter.com/share"
             data-url="http://www.johnathan.fr{{post.url}}"
             class="twitter-share-button"
             data-text="{{post.title}}"
             data-via="JohnathanSUP"
             data-related="JohnathanSUP: The author"
             data-count="horizontal"
             data-size="large"
             data-lang="en">Tweet</a>

        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
          </div>
          <div class="post_content">
             {{ post.content }}
          </div>
        </div>
      </article>
    {% endfor %}
  </div>

  {% if paginator.total_pages > 1 %}
  <ul class="pagination">
    {% if paginator.previous_page %}
      <li>
        <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&laquo; Précédent</a>
      </li>
    {% endif %}

      {% for page in (1..paginator.total_pages) %}
        {% if page == paginator.page %}
          <li class="active"><a href="#">{{ page }}</a></li>
        {% elsif page == 1 %}
          <li><a href="/articles/">{{ page }}</a></li>
        {% else %}
          <li><a href="/{{ site.paginate_path | replace: ':num', page }}">{{ page }}</a></li>
        {% endif %}
      {% endfor %}

    {% if paginator.next_page %}
    <li>
      <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Suivant &raquo;</a>
    </li>
    {% endif %}
  </ul>
{% endif %}

